<!DOCTYPE html>
<html>
  <head>
    <title>Ambratolm Web Tools</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="assets/buefy.min.css" />
    <link rel="stylesheet" href="assets/bulmaswatch.min.css" />
    <link rel="stylesheet" href="assets/custom.css" />
    <script src="assets/fontawesome.all.min.js"></script>
    <script src="assets/vue.min.js"></script>
    <script src="assets/buefy.min.js"></script>
  </head>

  <body class="container">
    <section id="app" class="section" v-cloak>
      <div class="card">
        <header class="card-header">
          <h1 class="card-header-title">
            <b-icon icon="reddit" pack="fab"></b-icon>
            <span>Ambratolm Web Tools</span>
          </h1>
        </header>

        <div class="card-content">
          <div class="columns is-multiline is-centered">
            <div
              v-for="webTool in webTools"
              class="column is-one-quarter has-text-centered"
            >
              <a
                :label="webTool.title"
                :href="webTool.url"
                target="_blank"
                class="button is-multiline is-link is-outlined is-large is-expanded"
                style="width: 7em; height: 7em;"
              >
                <b-icon
                  :icon="webTool.icon"
                  :pack="webTool.iconPack"
                  size="is-large"
                  class="is-marginless"
                ></b-icon>
                <span>{{ webTool.title }}</span>
              </a>
            </div>
          </div>
          <!-- <b-menu>
            <b-menu-list>
              <b-menu-item
                v-for="webTool in webTools"
                :label="webTool.title"
                :icon="webTool.icon"
                :icon-pack="webTool.iconPack"
                :href="webTool.url"
                target="_blank"
                tag="a"
              >
              </b-menu-item>
            </b-menu-list>
          </b-menu> -->
        </div>

        <footer class="card-footer">
          <div class="card-footer-item">
            <p class="has-text-grey-light">&copy; Ambratolm 2021</p>
          </div>
        </footer>
      </div>
    </section>
  </body>

  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          webTools: [
            {
              name: "reddit-search",
              title: "Reddit Search",
              url: "./reddit-search.html",
              icon: "reddit",
              iconPack: "fab"
            },
            {
              name: "moroccan-currencies",
              title: "Moroccan Currencies",
              url: "./moroccan-currencies.html",
              icon: "money-bill-wave",
              iconPack: "fas"
            },
            {
              name: "paypal-fee",
              title: "Paypal Fee",
              url: "./paypal-fee.html",
              icon: "paypal",
              iconPack: "fab"
            },
            {
              name: "fiverr-fee",
              title: "Fiverr Fee",
              url: "./fiverr-fee.html",
              icon: "file",
              iconPack: "fas"
            }
          ]
        };
      }
    });
  </script>
</html>
