<!DOCTYPE html>
<html>
  <head>
    <title>Moroccan Currencies - Ambratolm Web Tools</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="assets/buefy.min.css" />
    <link rel="stylesheet" href="assets/bulmaswatch.min.css" />
    <link rel="stylesheet" href="assets/custom.css" />
    <script src="assets/written-number.min.js"></script>
    <script src="assets/fontawesome.all.min.js"></script>
    <script src="assets/vue.min.js"></script>
    <script src="assets/buefy.min.js"></script>
    <script src="assets/currency.min.js"></script>
  </head>

  <body class="container">
    <section id="app" class="section" v-cloak>
      <div class="card">
        <header class="card-header">
          <h1 class="card-header-title">
            <b-icon icon="money-bill-wave" pack="fas"></b-icon>
            <span>Moroccan Currencies</span>
          </h1>
        </header>

        <div class="card-content">
          <div class="columns is-multiline is-centered">
            <div class="column is-one-quarter" :dir="dir">
              <b-field label="Dirham" label-position="on-border">
                <b-input
                  v-model="dirham"
                  type="number"
                  ref="dirham"
                  icon="money-bill"
                  icon-pack="fas"
                  size="is-large"
                  expanded
                ></b-input>
              </b-field>
            </div>
            <div class="column is-one-quarter" :dir="dir">
              <b-field label="Cent" label-position="on-border">
                <b-input
                  v-model="cent"
                  type="number"
                  icon="coins"
                  icon-pack="fas"
                  size="is-large"
                  expanded
                ></b-input>
              </b-field>
            </div>
            <div class="column is-one-quarter" :dir="dir">
              <b-field label="Rial" label-position="on-border">
                <b-input
                  v-model="rial"
                  type="number"
                  icon="coins"
                  icon-pack="fas"
                  size="is-large"
                  expanded
                ></b-input>
              </b-field>
            </div>
            <div class="column is-one-quarter" :dir="dir">
              <b-field label="Franc" label-position="on-border">
                <b-input
                  v-model="franc"
                  type="number"
                  icon="coins"
                  icon-pack="fas"
                  size="is-large"
                  expanded
                ></b-input>
              </b-field>
            </div>

            <div class="column is-one-quarter" :dir="dir">
              <p class="heading is-capitalized">Dirham</p>
              <p class="title">{{ dirhamFormatted }}</p>
              <p class="subtitle is-capitalized">
                {{ wordsFor(dirham, lang, "dirham") }}
              </p>
            </div>
            <div class="column is-one-quarter" :dir="dir">
              <p class="heading is-capitalized">Cent</p>
              <p class="title">{{ centFormatted }}</p>
              <p class="subtitle is-capitalized">
                {{ wordsFor(cent, lang, "cent") }}
              </p>
            </div>
            <div class="column is-one-quarter" :dir="dir">
              <p class="heading is-capitalized">Rial</p>
              <p class="title">{{ rialFormatted }}</p>
              <p class="subtitle is-capitalized">
                {{ wordsFor(rial, lang, "rial") }}
              </p>
            </div>
            <div class="column is-one-quarter" :dir="dir">
              <p class="heading is-capitalized">Franc</p>
              <p class="title">{{ francFormatted }}</p>
              <p class="subtitle is-capitalized">
                {{ wordsFor(franc, lang, "franc") }}
              </p>
            </div>

            <div class="column is-full is-paddingless is-marginless">
              <hr />
            </div>

            <div class="column is-full">
              <b-field position="is-right" grouped group-multiline>
                <b-field label="Letters" label-position="on-border">
                  <b-select v-model="lang" icon="globe-africa" icon-pack="fas">
                    <option value="en">English</option>
                    <option value="fr">Français</option>
                    <option value="ar">العربية</option>
                  </b-select>
                </b-field>
                <b-field label="Numerals" label-position="on-border">
                  <b-select v-model="digit" icon="globe-africa" icon-pack="fas">
                    <option value="west">Western Arabic</option>
                    <option value="east">Eastern Arabic</option>
                  </b-select>
                </b-field>
              </b-field>
            </div>
          </div>
        </div>

        <footer class="card-footer">
          <div class="card-footer-item">
            <p class="has-text-grey-light">&copy; Ambratolm 2021</p>
          </div>
        </footer>
      </div>
    </section>
  </body>

  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          dirham: 1,
          cent: 0,
          rial: 0,
          franc: 0,
          lang: "en",
          digit: "west",
          format: {
            pattern: "# !",
            separator: " "
          }
        };
      },
      mounted() {
        this.$refs.dirham.focus();
        this.load();
      },
      computed: {
        dirhamFormatted() {
          const text = this.dirhamFor(this.dirham, this.lang).format();
          return this.digit === "east" ? this.arabicHinduDigitsFor(text) : text;
        },
        centFormatted() {
          const text = this.centFor(this.cent, this.lang).format();
          return this.digit === "east" ? this.arabicHinduDigitsFor(text) : text;
        },
        rialFormatted() {
          const text = this.rialFor(this.rial, this.lang).format();
          return this.digit === "east" ? this.arabicHinduDigitsFor(text) : text;
        },
        francFormatted() {
          const text = this.francFor(this.franc, this.lang).format();
          return this.digit === "east" ? this.arabicHinduDigitsFor(text) : text;
        },
        dir() {
          return this.lang === "ar" ? "rtl" : "ltr";
        }
      },
      methods: {
        dirhamFor(value, lang = "en") {
          let symbol = "DH";
          if (lang === "ar") symbol = "د.م";
          return currency(value, { symbol, ...this.format });
        },
        centFor(value, lang = "en") {
          let symbol = "¢";
          if (lang === "ar") symbol = "ﺱ";
          return currency(value, { symbol, ...this.format });
        },
        rialFor(value, lang = "en") {
          let symbol = "r";
          if (lang === "ar") symbol = "﷼";
          return currency(value, { symbol, ...this.format });
        },
        francFor(value, lang = "en") {
          let symbol = "₣";
          if (lang === "ar") symbol = "ﻑ";
          return currency(value, { symbol, ...this.format });
        },
        wordsFor(value, lang = "en", currency) {
          let suffix = "";
          switch (currency) {
            case "dirham":
              suffix = "dirham";
              if (lang === "ar") suffix = "درهم";
              break;
            case "cent":
              suffix = "cent";
              if (lang === "fr") suffix = "centime";
              if (lang === "ar") suffix = "سنتيم";
              break;
            case "rial":
              suffix = "rial";
              if (lang === "ar") suffix = "ريال";
              break;
            case "franc":
              suffix = "franc";
              if (lang === "ar") suffix = "فرنك";
              break;
          }
          return `${writtenNumber(value, { lang })} ${suffix}`;
        },
        arabicHinduDigitsFor(value) {
          return value.replace(/\d/g, i =>  '٠١٢٣٤٥٦٧٨٩'[i])
        },
        format(currency, options) {
          return `${currency.dollars()}.${currency.cents()}`;
        },
        load() {
          this.dirham =
            localStorage.dirham !== undefined ? localStorage.dirham : 1;
          this.lang =
            localStorage.lang !== undefined ? localStorage.lang : "en";
          this.digit =
          localStorage.digit !== undefined ? localStorage.digit : "west";
        }
      },
      watch: {
        dirham(dirham) {
          localStorage.dirham = dirham;
          this.cent = this.centFor(100 * this.dirhamFor(dirham).value).value;
          this.rial = this.rialFor(20 * this.dirhamFor(dirham).value).value;
          this.franc = this.francFor(50 * this.dirhamFor(dirham).value).value;
        },
        cent(cent) {
          this.dirham = this.dirhamFor(0.01 * this.centFor(cent).value).value; // 1/100 = 0.01
        },
        rial(rial) {
          this.dirham = this.dirhamFor(0.05 * this.rialFor(rial).value).value; // 1/20 = 0.05;
        },
        franc(franc) {
          this.dirham = this.dirhamFor(0.02 * this.francFor(franc).value).value; // 1/50 = 0.02
        },
        lang(lang) {
          localStorage.lang = lang;
        },
        digit(digit) {
          localStorage.digit = digit;
        }
      }
    });
  </script>
</html>
