[v-cloak] {
  display: none;
}

.button.is-multiline {
  width: auto;
  height: auto;
  min-height: 2.25em;
  white-space: unset;
  flex-direction: column;
}

.button.is-multiline .icon {
  margin: 0! important;
}

/* Hide Arrows From Input Number (Chrome, Safari, Edge, Opera) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide Arrows From Input Number (Firefox) */
input[type=number] {
  -moz-appearance: textfield;
}